<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/bootstrap.js' %}">
    <title>{{ title }}</title>
  </head>
    <body>
      <div class="container">
        <div class="jumbotron">
          <h1>Welcome to the PublicPost made with Django</h1>
          <h4>Anyone can post, publish or disscuss topics with each other while beign totally anonymouse.</h4>
        </div>
      </div>
    </body>
</html>
