<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/bootstrap.js' %}">
    <title>{{ title }}</title>
  </head>
    <body>
      <div class="container">
        <div class="jumbotron">
          <h1>Welcome to the Public Post Service made with Django</h1>
          <h5>Anyone can <i>post</i>, <i>publish</i> or <i>disscuss</i> topics with each other while beign totally anonymouse.</h5>
        </div>
      </div>
    </body>
</html>
